/* ========================= max 476px ======================== */
@media (max-width:476px) {
    .header .logo a {
    font-size: 10px;
    }
    .header  .nav li a {
        display: none;
    }






}


/* ========================= min 576px ======================== */
@media (min-width:476px) {
    .header .logo a {
    font-size: 10px;
    }
   



}




/* ========================= min 768px ======================== */
/* ========================= min 992px ======================== */
/* ========================= min 1200px ======================== */
/* ========================= min 1400px ======================== */
